@font-face {
    font-family: Poppins;
    src: url(Font/Poppins-Regular.ttf);
  }

body {
    margin: 0;
    display: block;
    background-color: #0B0C10;
}

.header {
    height: 130px;
    width: 100%;
    background: #1A1F33;
    text-align: center;

    align-items: center;
}

.header .Title {
    position: relative;
    top: 50%;
    display: inline-block;
    margin-top: -25px;



    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 23px;
    line-height: 34px;

    color: #fff;
}

.header .icons {
    position: absolute;
    left: 81.49%;
    right: 0%;
    top: 0%;
    bottom: 94.36%;
}

.header .icons .fb {
    position: absolute;
    width: 44px;
    height: 44px;
    left: 192px;
    top: 36px;
}

.header .icons .ins {
    position: absolute;
    width: 45px;
    height: 45px;
    left: 284px;
    top: 36px;
}

.header .icons .li {
    position: absolute;
    width: 45px;
    height: 45px;
    left: 99px;
    top: 36px;
}

.header .icons .fiv {
    position: absolute;
    width: 51px;
    height: 51px;
    left: 0px;
    top: 34px;
}

.navbar{
    display: inline-block;
    margin-top: 30px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 268px;


}

.navbar li a {
    display: block;
    color: #fff;
    padding: 40px 50px;
    text-decoration: none;
    border-radius: 0px 20px 20px 0px;
    

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 23px;
    line-height: 34px;
}

.active {
    background-color: #1A1F33;
    border: 2px solid #66FCF1;
}

.navbar li a:hover {
    background-color: #1A1F33;
    transition: all 0.2s ease-in;
}

.Home {
    display: inline-block;
    overflow: hidden;
}

.Home span {
    position: absolute;
    width: 233px;
    height: 66px;
    left: 357px;
    top: 383px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;

    color: #FFFFFF;
}

.Home .ABC {
    position: absolute;
    width: 485px;
    height: 92px;
    left: 357px;
    top: 418px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 90px;

    color: #66FCF1;
}

.Home .light {
    position: absolute;
    width: 414px;
    height: 43px;
    left: 357px;
    top: 510px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;

    color: #FFFFFF;

}

.Home .Img {
    position: absolute;
    width: 600px;
    height: 600px;
    left: 500px;
    top: -450px;
}

.hire {
    padding: 0px;

    position: absolute;
    width: 276px;
    height: 66px;
    left: 357px;
    top: 561px;

    background: #66FCF1;
    border-radius: 6px;


    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    align-items: center;
    text-align: center;

    color: #202125;
}

.hire:hover {
    background: #202125;
    color: #66FCF1;
    border-color: #66FCF1;
    transition: all 0.2s ease-in;
}

.know {
    padding: 0px;

    position: absolute;
    width: 275px;
    height: 66px;
    left: 652px;
    top: 564px;


    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    align-items: center;
    text-align: center;
    background: #0B0C10;
    border: 2px solid #66FCF1;
    box-sizing: border-box;
    border-radius: 6px;
}

.know:hover {
    background: #66FCF1;
    color: #202125;
    border-color: #202125;
    transition: background 0.2s ease-in;
}

.Projects {
    display: inline-block;
}

.Projects .imgs img {
    margin: 60px;
    width: 352px;
    height: 269px;
}

.Projects .imgs img:hover {
    width: 476px;
    height: 364px;
    transition: all 0.2s ease-in;
}

.Projects .headerr {
    height: 80px;
}
.Projects .headerr span {
    margin-left: 15%;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 45px;
    color: #fff;
}


.Projects .headerr span:hover {
    text-decoration: underline;
    text-decoration-color: #66FCF1;
    transition: text-decoration 0.2s ease-in;
}

.activee {
    text-decoration: underline;
    text-decoration-color: #66FCF1;
}

.Services {
    display: inline-block;
}

.box {
    margin-left: 40px;
    display: inline-block;
    border-style: solid;
    border-color: #66FCF1;
    padding: 30px;
    width: 400px;
    height: 500px;
}

.box img {
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.box .head {
    margin-top: 70px;

    display: block;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 52px;
    text-align: center;

    color: #66FCF1;
}

.box .desc {
    margin-top: 70px;
    display: block;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 33px;
    text-align: center;

    color: #fff;
}

.about {
    display: inline-block;
}

.about .flex {
    display: inline-flex;
}

.About .flex .row img {
    width: 491px;
    height: 571px;
}

.about .flex .row .headd {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 55px;
    line-height: 82px;

    color: #66FCF1;

}

.about .flex .row span {
    color: white;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
}